<p id="notice"><%= notice %></p>

<p>
  <b>Business name:</b>
  <%= @business.business_name %>
</p>

<p>
  <b>Business description:</b>
  <%= @business.business_description %>
</p>

<p>
  <b>Mainphone:</b>
  <%= @business.mainphone %>
</p>

<p>
  <b>Website:</b>
  <%= @business.website %>
</p>

<p>
  <b>Tags:</b>
  <%= @business.tags %>
</p>

<p>
  <b>Headline:</b>
  <%= @business.headline %>
</p>

<p>
  <b>Siret:</b>
  <%= @business.siret %>
</p>
<% for address in @business.addresses %>
<p>
  <strong>Street:</strong>
  <%= address.street %>
</p>
<p>
  <strong>Zipcode:</strong>
  <%= address.zipcode %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= address.longitude %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= address.latitude %>
</p>
<% end %>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
