<%= form_for(@picture,:remote => true) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>  
    <%= f.text_field attribute, :id => attribute %>  
  <% end %>  
  


  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>