<%= form_for(@service, :remote => true) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <h1>Ajout d'un service</h1>
<div id="list-services">

<% @services.each do |service| %>
  <tr>
  	<td><%= link_to service.service_name, edit_service_path(service)%></td>

  </tr>
<% end %>
</div>
</table>
  <div class="actions">
  	
	  <div class="field">
	    <%= f.label :service_name %><br />
	    <%= f.text_field :service_name %>
	  </div>
	  <div class="field">
	    <%= f.label :price %><br />
	    <%= f.text_field :price %>
	  </div>
	  <div class="field">
	    <%= f.label :duration %><br />
	     <%= f.select :duration, ["15 minutes","30 minutes","45 minutes","1 heures","1 heures 15","1 heures 30",
	     	"1 heure 45","2 heures","2 heures 15","2 heures 30","2 heures 45","3 heures","3 heures 15",
	     	"3 heures 30","3 heures 45","4 heures","5 heures","6 heures","7 heures","8 heures"] %>
	  </div
	  <div class="field">
	    <%= f.label :description %><br />
	    <%= f.text_area :description %>
	  </div>
  
  	  <div>
	  	<%= f.check_box :display %> <%= f.label :display %>
	  </div>
	  
    	<%= f.submit %>
  </div>
<% end %>
