<% title "Ajouter une image" %>


<h1>Editer photos</h1>

<div id="list-photos">
<%if current_professional.proaccount.pictures.exists?%>

	<% form_for @pictures do |f| %>
		<%= image_tag @pictures.image.url(:medium)%>
		  <%= f.label :image %>
  		<%= f.file_field :image %>
	  <p><%= f.submit "Modifier" %></p>
	<% end %>
<%else%>
<%= render 'form_photo' %>
<%end%>
</div>


