<% title "Ajouter une image" %>


<h1>Editer photos</h1>

<div id="list-photos">
<%if current_professional.proaccount.pictures.exists?%>
	<%= image_tag @pictures.image.url(:medium)%>
	<%= form_for(@pictures, :html => { :multipart => true }) do |f| %>
		  <%= f.label :image %>
  		<%= f.file_field :image %>
	  <p><%= f.submit "Modifier" %></p>
	<% end %>
<%else%>
<%= render 'form_photo' %>
<%end%>
</div>


