<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service_id %><br />
    <%=f.autocomplete_field :libelle_service, posts_autocomplete_service_libelle_service_path %>
  </div>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :code_postal %><br />
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :Détails %><br />
    <%= f.text_area :details %>
  </div>
  <% if user_signed_in? %>

  <% else %>
	<%= fields_for @user do |buider| %>
	  <p>
		<%= buider.label :email %><br />
	  	<%= buider.email_field :email %>
	  </p>
	
	  <p>
	  	<%= buider.label :password %><br />
	  	<%= buider.password_field :password %>
	  </p>
	
	  <p>
	  	<%= buider.label :password_confirmation %><br />
	  	<%= buider.password_field :password_confirmation %>
	  </p>
	<% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
